I'm a software engineer and here you can read my <a href="//dev.andycostanza.com">blog</a>, check out my <a href="//cv.andycostanza.com">resume</a>, enjoy with my web app <a href="//relveo.andycostanza.com">Relveo</a> or with <a href="//t.me/archange_bot">@archange_bot</a> my Telegram bot
